* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 150px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-position: center;
    padding-left: 10px;
}

#logo {
    height: 100%;
}


.title h1 {
    
}

.writer  {
    color: #30afe6;
}

p{
  
}